.App {
  text-align: center;
}


.navbar{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding:0;
  margin: 0;
  gap: 2rem;
}

.marketlogo{
  color: blue; 
}
.marketplace1{
  position: absolute;
  padding-top: 1rem;


.side-bar{
  width:25%;
  height:100vh;
  border-radius: 1px solid black;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 3px 3px 2px rgb(214, 209, 209);
  position: fixed;
}
 
.sidebar-item-div{
  display: flex;
  gap:20px;
  align-items: center;
}

.icon{
  border-radius: 50%;
  padding: 8px;
  background-color: rgb(203, 203, 203);
  box-shadow: 2px 1px 2px rgb(214, 209, 209);
  margin: 8px;
}
  
 .menu{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 }

 .menu_1{
   list-style-type: none;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:1rem;
 }
  
 .btn:hover{
  cursor: pointer;
}
  
.btn{
  color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;

}

 .Buying{
  background-image: url("./components/images/phones.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:400px;
  text-align: center;
  padding-top:3rem ;
 }
  
 .buy{
  font-size: 2rem;
 }
  
 .house {
    align-items: center;
  }

 .browse{
    padding-top: 2rem;
  }
  
  .btn_market{
  color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;
  }


  .marketplace{
    padding-top:5rem;
  }

.buying_page1{
 background-image: url("./components/images/shoppingbags.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:400px;
  text-align: center;
  padding-top:5rem;
  

}
.btn3{
  cursor: pointer;
   color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;

}


.buyingpage{
  color: white;
}
.buy_sell{
  color: white;
}

.btn_sell{
   cursor: pointer;
   color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;
}

.selling{
    background-image: url("./components/images/jacketman.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:450px;
  text-align: center;
  padding-top:3rem ;
  color: white;
}

.interest_sell{
  font-size:2rem;
}

.sell-on{
  font-size: 2rem;
}
.btn4{
    cursor: pointer;
   color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;

}

.selling_pages{
   background-image: url("./components/images/shoppingbags.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:400px;
  text-align: center;
}

.Footer{
  font-size:10px;
  background-color: blue;
}
.Footer_1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: lightblue;
}

.seller{
  text-align: center;
  padding-top: 3rem;
  padding-bottom:3rem ;
}

.Tips{
  text-align: center;
}

.images{
  text-align: center;
}
.icons{
  text-align: center;
}

.product-div{
  height: 100vh;
  width: 90%;
  background-color: rgb(254, 254, 253);
  border-radius: 1px solid black;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 1px 1px 1px 4px rgb(214, 209, 209);
}
.sidebar{grid-area: sidebar;}
.product{grid-area:product}

.market-div{
  display: grid;
  grid-template-areas: 'sidebar  sidebar product product product product'
  'sidebar sidebar product product product product'
  'sidebar sidebar product product product product';
  gap:10px;
  
}

.addlistings{
  margin: 0 auto;
}


