.App {
  text-align: center;
}
*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding:0;
  margin: 0;
  gap: 2rem;
  background-color: grey;

  
 
}

.marketlogo{
  color: blue;
  
}
.marketplace1{
  position: absolute;
  padding-top: 1rem;

}
.logo{
  padding-right: 25rem;
}
 .menu{

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  

 }

 .menu_1{
   list-style-type: none;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:1rem;

 }
 .btn:hover{
  cursor: pointer;
}
.btn{
  color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;

}

 .Buying{
  background-image: url("./components/images/phones.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:400px;
  text-align: center;
  padding-top:3rem ;
 }
 .buy{
  font-size: 2rem;
 }
  .house {
    align-items: center;
  }

  .browse{
    padding-top: 2rem;

  }
  .btn_market{
  color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;
  }


  .marketplace{
    padding-top:5rem;
  }

.buying_page1{
 background-image: url("./components/images/shoppingbags.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:400px;
  text-align: center;
  padding-top:5rem;
  

}
.btn3{
  cursor: pointer;
   color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;

}

.buyingpage{
  clip-path: 70%;

}
.buy_sell{
  color: white;
  font-size: 2rem;
}

.btn_sell{
   cursor: pointer;
   color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;
}

.selling{
    background-image: url("./components/images/jacketman.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:450px;
  text-align: center;
  padding-top:3rem ;
  color: white;
}

.interest_sell{
  font-size:2rem;
}

.sell-on{
  font-size: 2rem;
}
.btn4{
    cursor: pointer;
   color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;

}

.selling_pages{
   background-image: url("./components/images/shoppingbags.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:400px;
  text-align: center;
}

.Footer{
  font-size:10px;
  background-color: blue;
  color: white;
}
.Footer_1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  background-color:#367588 ;
  
}


.seller{
  text-align: center;
  padding: 3rem;
}

.Tips{
  text-align: center;
}

.images{
  text-align: center;
}
.icons{
  text-align: center;
}
.discover{
  color: blue;
  font-size:3rem;
  padding-left: 3rem;
}
.goods{
  padding-left: 20rem;
}
.btn_explore{
   color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;
}

.btn_explore:hover{
  cursor: pointer;
  opacity: 0.9;

}
.explore{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 2rem;
}
.ecommerce{
  margin-left: 1rem;
}

.marketItem{
  margin: 7rem;
}


.Benefits {
  display: grid;
 grid-template-columns: 33%  33% 33%;

}

.icons{
  display:grid;
 grid-template-columns: 50% 50%;
}

.why{
  display:flex;
  flex-direction: row;
}
