.App {
  text-align: center;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  gap: 2rem;
  background-color: grey;
}

.marketlogo {
  color: blue;
}
.marketplace1 {
  position: absolute;
  padding-top: 1rem;
}

.side-bar {
  width: 100%;
  height: 100vh;
  border-radius: 1px solid black;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 3px 3px 2px rgb(214, 209, 209);
  position:relative ;
}

.sidebar-item-div {
  display: flex;
  gap: 20px;
  justify-content: left;
  align-items: center;
  margin-left: 8px;
}

.logo {
  padding-right: 25rem;
}

.icon {
  border-radius: 50%;
  padding: 8px;
  background-color: rgb(203, 203, 203);
  box-shadow: 2px 1px 2px rgb(214, 209, 209);
  margin: 8px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu_1 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.btn:hover {
  cursor: pointer;
}

.btn {
  color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;
}

.Buying {
  background-image: url("./images/phones.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  text-align: center;
  padding-top: 3rem;
}

.buy {
  font-size: 2rem;
}

.house {
  align-items: center;
}

.browse {
  padding-top: 2rem;
}

.btn_market {
  color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;
}

.marketplace {
  padding-top: 5rem;
}

.buying_page1 {
  background-image: url("./images/shoppingbags.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  text-align: center;
  padding-top: 5rem;
}

.btn3 {
  cursor: pointer;
  color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;
}

.buyingpage {
  clip-path: 70%;
}

.buy_sell {
  color: white;
  font-size: 2rem;
}

.btn_sell {
  cursor: pointer;
  color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;
}

.selling {
  background-image: url("./images/jacketman.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  text-align: center;
  padding-top: 3rem;
  color: white;
}

.interest_sell {
  font-size: 2rem;
}

.sell-on {
  font-size: 2rem;
}

.btn4 {
  cursor: pointer;
  color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;
}

.selling_pages {
  background-image: url("./images/shoppingbags.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  text-align: center;
}

.Footer {
  font-size: 10px;
  background-color: blue;
  color: white;
}

.Footer_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: #367588;
}

.seller {
  text-align: center;
  padding: 3rem;
}

.Tips {
  text-align: center;
}

.images {
  text-align: center;
}
.icons {
  text-align: center;
}

.discover {
  color: blue;
  font-size: 3rem;
  padding-left: 3rem;
}

.goods {
  padding-left: 20rem;
}

.btn_explore {
  color: white;
  background: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 12px;
  border: none;
  font-size: 0.7rem;
}

.btn_explore:hover {
  cursor: pointer;
  opacity: 0.9;
  

}

.explore {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 2rem;
}

.ecommerce {
  margin-left: 1rem;
}

.marketItem {
  margin: 7rem;
}

.Benefits {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.icons {
  display: grid;
  grid-template-columns: 50% 50%;
}

.why{
  color: blue;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.why_icons{
  display: flex;
  flex-direction: row;
}
.why_icons2{
 display: flex;
 
}

.create_listing{
padding-left:1rem;
font-size: 0.7rem;
}

.connect {
  padding-left: 4;
}
.blue{
  display: flex;
  flex-direction: row;
justify-content: space-between;
align-items: stretch;

  gap: 10rem;
  
}



.unique{

  flex-grow:3;
  
  
}

.button{
  display: flex;
  gap: 2rem;
}

.product-div {
  height: 100vh;
  width: 90%;
  background-color: rgb(254, 254, 253);
  border: 1px solid rgb(242, 235, 235);
  box-shadow: 1px 1px 1px 4px rgb(214, 209, 209);
}


.market-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: repeat(4);
  gap: 10px;
}
.sidebar {
 grid-column:1 ; 
}
.product {
 grid-column: 2/4 ;
}


